<div class="banner">
    <div class="redy">
        <div class="header-info">
            <div class="header-title">
                FORGOT PASSWORD
            </div>

            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a routerLink="/" class="breadcrumb">{{ 'home'| translate }}</a>
                        <a href="javascript:;" class="active">{{ 'forgot_password'| translate }}</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container" style="width: 75%">
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card">

                <div class="card-content">
                    <div class="login">

                        <div class="row mb-0" *ngIf="successMessage == ''">
                            <span style="font-size: 23px;margin-bottom: 10px;display: inline-block;">
                            {{ 'put_email_address'| translate }}
                            </span>
                            <form class="col s12" style="margin-bottom: 0;" (ngSubmit)="f.form.valid && forgotPassword(f)"
                                  #f="ngForm" novalidate >
                                <div class="row">
                                    <div class="input-field mb-10 col s12">
                                        <input id="email" type="email" class="validate" required
                                               [(ngModel)]="model.email" #email="ngModel" name="email">
                                        <label for="email">{{ 'email'| translate }}</label>

                                        <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                             class="alert alert-danger">

                                            <div *ngIf="email.errors.required">
                                                {{ 'email_required'| translate }}
                                            </div>

                                        </div>
                                    </div>
                                    <div class="input-field col s12">
                                        <button *ngIf="!loading" [disabled]="!f.form.valid"
                                                class="btn waves-effect waves-light signup-button mt-0" type="submit"
                                                name="action">{{ 'reset_password'| translate }}
                                        </button>

                                        <button *ngIf="loading" disabled class="btn waves-effect waves-light signup-button mt-0" >
                                            <i class="material-icons spin large">autorenew</i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row mb-0">
                                    <div class="input-field col s12">
                                        <span> {{ 'want_to_login'| translate }}? <a routerLink="/login"class="link">{{ 'login'| translate }}</a></span>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="row mb-0" *ngIf="successMessage != ''">
                        	<div class="col s12 text-success">{{ 'password_rest_email_sent'| translate }}, <a href="javascript:;" (click)="resendMessage()">{{ 'resend'| translate }}</a></div>
                    	</div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
