<div class="col s12 m4 l4 item">
    <a class="center promo promo-example card scrollspy waves-effect" routerLink="/campaigns/{{ categoryId }}">
        <div class="card-image" >
            <img class="b-img" src="{{ categoryImgSrc }}"/>
        </div>
        <div class="card-content">
            <h5 class="promo-caption">{{ categoryName }}</h5>
            <p class="light center text-break-word promo-description">{{ categoryShortDesc|truncate:100 }}</p>
            <!--<a href="campaign.html" class=" details-button waves-effect waves-light hvr-bounce-to-right " style="font-size:16px;"> View Details <i style="font-size:16px" class="fa fa-angle-double-right" aria-hidden="true"></i></a>-->
        </div>
    </a>
</div>
