<div class="banner-categories" >
        <div class="redy" [ngStyle]="{'background':'linear-gradient(rgba(30, 57, 44, 0.75),rgba(30, 57, 44, 0.85) ),url('+bannerImg+') center/cover no-repeat'}">
            <div class="header-info">
                <!--<div class="money">-->
                <!--Total Donation <span> 123123</span>-->
                <!--</div>-->
                <div class="header-title">
                    {{ tagline}}
                </div>

                <nav>
                    <div class="nav-wrapper">
                        <div class="col s12">
                            <a routerLink="/" class="breadcrumb">{{ 'home'| translate }}</a>
                            <a routerLink="/campaigns" class="breadcrumb">{{ 'category'| translate }}</a>
                            <a style="cursor: pointer;" class="active">{{ categoryName }}</a>
                        </div>
                    </div>
                </nav>
                <!--<p class="white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>-->
                <!--<div class="buttons-header">-->
                <!--<div class="start">-->
                <!--<a class="waves-effect waves-light btn">Get Started</a>-->
                <!--</div>-->
                <!--<div class="donate">-->
                <!--<a class="waves-effect waves-light btn">Donate Now</a>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
</div>
