<app-cover-banner categoryId="{{ categoryId }}"></app-cover-banner>
<div class="container" style="width:75%">
        <div class="row">
            <app-medium-category-list selectedCategory="{{ categoryId }}" ></app-medium-category-list>
            <app-campaigns-stat categoryId="{{ categoryId }}"></app-campaigns-stat>
        </div>
        <div class="row campaign">
             <app-campaign-item *ngFor="let campaign of campaignList?.results|
                    paginate: { itemsPerPage: limit, currentPage: currentPage, totalItems: campaignList?.count}"
                campaignFeaturedImgSrc="{{ campaign.featured_image ? photobaseUrl +'/'+ campaign.featured_image : '/assets/img/no-image.png'}}"
                campaignTitle="{{ campaign.title }}"
                campaignProgress="{{ campaign.progress }}"
                campaignRaisedAmount="{{ campaign.total_donate }}"
                campaignGoalAmount="{{ campaign.amount }}"
                campaignShortDesc="{{ campaign.story }}"
                campaignSlug="{{ campaign.slug }}"
                [slick]="false"
        ></app-campaign-item>

        </div>

    <pagination-template #p="paginationApi" autoHide="true" (pageChange)="pageChanged($event)">
        <ul class="pagination" style="text-align: center" *ngIf="p.pages.length > 1">
                <li class="" [class.disabled]="p.isFirstPage()"><a  *ngIf="!p.isFirstPage()" (click)="p.previous()"><i class="material-icons">chevron_left</i></a></li>
                 <li *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
                    <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                        <span>{{ page.label }}</span>
                    </a>
                    <a *ngIf="p.getCurrent() === page.value">
                        <span>{{ page.label }}</span>
                    </a>
                </li>
                <li class="waves-effect" [class.disabled]="p.isLastPage()"><a *ngIf="!p.isLastPage()" (click)="p.next()"><i class="material-icons">chevron_right</i></a></li>
        </ul>
    </pagination-template>
</div>
<app-footer></app-footer>
