<div class="banner">
    <div class="redy">
        <div class="header-info">
            <div class="header-title">
                PASSWORD RESET
            </div>

            <nav>
                <div class="nav-wrapper">
                    <div class="col s12">
                        <a routerLink="/" class="breadcrumb">{{ 'home' | translate }}</a>
                        <a href="javascript:;" class="active">{{ 'reset_password' | translate }}</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<div class="container" style="width: 75%">
    <div class="row">
        <div class="col l6 offset-l3 m8 offset-m2 s12">
            <div class="card">

                <div class="card-content">
                    <div class="login">

                        <div class="row mb-0" *ngIf="valid_uid_token; else not_valid">
                            <span style="font-size: 23px;margin-bottom: 10px;display: inline-block;">{{ 'reset_password' | translate }}</span>
                            <form class="col s12" style="margin-bottom: 0;" (ngSubmit)="f.form.valid && resetPassword(f)"
                                  #f="ngForm" novalidate [mustMatch]="['password1', 'password2']">
                                <div class="row">
                                    <div class="input-field mb-10 col s12">
                                        <input id="password1" type="password" class="validate"
                                               required [(ngModel)]="model.password1" #password1="ngModel"
                                               name="password1" minlength="8">
                                        <label for="password1">{{ 'password' | translate }}</label>

                                        <div *ngIf="password1.invalid && (password1.dirty || password1.touched)"
                                             class="alert alert-danger">

                                            <div *ngIf="password1.errors.required">
                                                {{ 'password_required' | translate }}
                                            </div>
                                            <div *ngIf="password1.errors.minlength">
                                                {{ 'password_chars' | translate }}
                                            </div>

                                        </div>


                                    </div>
                                    <div class="input-field col s12">
                                        <input id="password2" type="password"
                                               class="validate" required [(ngModel)]="model.password2"
                                               #password2="ngModel" name="password2" minlength="8">
                                        <label for="password2">{{ 'confirm_password' | translate }}</label>

                                        <div *ngIf="password2.invalid && (password2.dirty || password2.touched)"
                                             class="alert alert-danger">

                                            <div *ngIf="password2.errors.required">
                                                {{ 'password_required' | translate }}
                                            </div>
                                            <div *ngIf="password2.errors.mustMatch">
                                                {{ 'password_match' | translate }}
                                            </div>

                                        </div>


                                        <!-- <div *ngIf="password2.valid && password1 != password2"
                                            class="alert alert-danger">

                                            <div *ngIf="password2.errors.required">
                                                  Password didn't match.
                                            </div>

                                        </div> -->

                                    </div>
                                    <div class="input-field col s12">
                                        <button *ngIf="!loading" [disabled]="!f.form.valid"
                                                class="btn waves-effect waves-light signup-button mt-0" type="submit"
                                                name="action">{{ 'reset_password' | translate }}
                                        </button>

                                        <button *ngIf="loading" disabled class="btn waves-effect waves-light signup-button mt-0" >
                                            <i class="material-icons spin large">autorenew</i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <ng-template #not_valid>
	                        <div class="row mb-0">
	                        	<div class="col s12 text-danger" *ngIf="!loading">
	                        		{{ 'password_rest_not_valid'| translate }} <a routerLink="/forgot-password">{{ 'reset_password'| translate }}</a>
	                        	</div>

	                        	<i *ngIf="loading" class="material-icons spin large text-success">autorenew</i>
	                        </div>
	                    </ng-template>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<app-footer></app-footer>
